    <div id="content1" class="login-wrap">

        <div class="container cls" style="margin: 0 auto; 
        padding:90px 70px 50px 70px;">
                <div class="row no-gutter">
                    <!-- The image half -->
                   
                    <div  class="col-md-6 d-md-flex " style="
                    padding-right: 0px;
                    padding-left: 0px;
                "><img id="main" src="https://images.unsplash.com/photo-1496262967815-132206202600?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1095&q=80"></div>
            
                    <!-- The content half -->
                    <div class="col-md-6 bg-light">
                        <div class="login d-flex align-items-center py-5">
                        <!-- Demo content-->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mx-auto">
                                    <h3 class="display-4">Want To Reset<span style="color: #426382;"><b> Password</b></span></h3>
                                    <p class="text-muted mb-4">Please Enter Your Email Here</p>
                                    <form (ngSubmit)="resetPassword(f)" #f="ngForm">
                                        <div class="form-group mb-3">
                                            <input type="email" id="email" name="email" ngModel placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col">
                                                <button type="submit" class="btn pos btn-block text-uppercase mb-2 rounded-pill shadow-sm">Submit</button>

                                            </div>
                                            <div class="col-md-6" >
                                                <button type="submit" class="btn pos btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="Login()" style="width: 144px; padding-right: 0px;"><span class="text-center" >Login</span></button>

                                            </div>
                                        </div>
                                        <!-- <div *ngIf="isLoading" style="text-align: center;">
                                            <app-loading-spinner></app-loading-spinner>
                                        </div> -->
                                    </form>
                                    
                                </div>
                            </div>
                        </div><!-- End -->
        
                    </div>
                </div><!-- End -->
        
            </div>
        </div>

        
     </div>   
