/* .set{
    margin-top: 10%;
} */

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1472552944129-b035e9ea3744?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: center center;
}
.colorbtn{
  background-color: #254D6E;
}
.pos{
  margin-top:1%;
  background-color:#254D6E;
}
.text-center{
  margin-left: -6%;
}